<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html ng-app="splitsiesApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Go Spltisies</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="scripts.js"></script>
  </head>

  <body ng-controller="SplitsiesCtrl">
    <div id="menu">
      <span class="header">GoSplitsies</span>
      <div class="divider"></div>
      <div id="groups">
        <span class="groupsHeader" style="text-decoration: line-through;">Groups</span>
        
        <ul>
            <li ng-repeat="group in groups">
              <img ng-show="group.selected" src="checkbox.png" style="width: 16px; height: 16px;" />
              <span  style="text-decoration: line-through;" class="group" ng-class="{selected: group.selected}">{{group.name}}</span>
            </li>
        </ul>
        
      </div>
      
      <div class="divider"></div>
      <div id="people">&nbsp;</div>
      <div class="divider"></div>
      
      <div id="people">
        <span class="people">
          Edit people
        </span>
      </div>
      
      <div class="divider"></div>
      <div id="people">&nbsp;</div>
      <div class="divider"></div>
      
      <div id="settings">
        <span class="settings">
          Settings
        </span>
      </div>
      
      <div class="divider"></div>
      
    </div>
    
    <div id="main" style="width: 1200px; height: 100%; background:#ff0000;">
     <div id="header">
        GoSplitsies
      </div>
      <div id="items">
        Items
        <ul>
          <li ng-repeat="item in items">
            <div class="group" data-id="{{item.id}}" ng-click="toggleOpen(item)">
              <span ng-repeat="purchaser in item.purchasers">
                {{ getNameOfPerson(purchaser) }} 
              </span>
              - {{item.price}}
            </div>
            <div ng-show="item.open">
              <span ng-repeat="sharer in item.sharers">
                {{ getNameOfPerson(sharer) }} 
              </span>
            </div>
          </li>
        </ul>
        <form ng-submit="addItem()" style="width:1000px;">
          <table>
            <tr>
              <td>Price:</td>
              <td><input type="text" id="price" ng-model="newItemPrice" /></td>
            </tr>
            <tr>
              <td>Purchaser:</td>
              <td>
                <select data-ng-options="o['name'] for o in persons" data-ng-model="newItemPurchaser"></select>
                <img disabled="disabled" src="plus-icon-disabled.png" width="20px" height="20px" style="position:relative; top:6px;" />
              </td>
            </tr>
            <tr>
              <td>Sharer:</td>
              <td>
                <select data-ng-options="o['name'] for o in persons" data-ng-model="newItemSharer"></select>
                <img disabled="disabled" src="plus-icon-disabled.png" width="20px" height="20px" style="position:relative; top:6px;" />
              </td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" /></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    
  </body>
  
</html>
