
#menu { 
	position : absolute;
    top: 0px;
    left: 0px;
    width: 190px;
    bottom: 0px;
    background: #eee;
    border-right: 1px solid #aaa;
    
}

#menu .header {
    font-size: 2em;
    font-family: arial;
    margin: 6px;
}

#menu .divider {
    background: #333;
    height: 1px;
    margin: 8px;
}

#menu #groups {
	padding-left: 12px;
}

#menu #groups ul {
	list-style: none;
	position: relative;
	left: -22px; 
}

#menu #groups .group.selected {
    margin-left: 0px;
}
#menu #groups .group:not(.selected) {
	margin-left: 22px;
}

#menu #people {
    padding-left: 12px;
}

#menu #settings {
    padding-left: 12px;
}


#header {
    position : absolute;
    top: 20px;
    left: 201px;
    height: 40px;
    width: 200px;
}

#items { 
    position : absolute;
    top: 70px;
    left: 201px;
    height: 260px;
    width: 200px;
}
    